<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="vue.min.js"></script>
</head>
<body>
    <div id="app">
        <div>
            <!-- v-cloak指令解决插值闪烁问题 -->
            <p v-cloak>{{title}}</p>    
        </div>
        <div>
            <!-- v-text="msg"会替换元素内容 -->
            <p v-text="title"></p>
        </div>
        <div>
            <!-- v-html插入html元素 -->
            <p v-html="h2"></p>
        </div>
        <div>
            <!-- v-bind绑定变量,缩写 : -->
            <input type="button" v-bind:value="title" :title="title"> 
        </div>
        <div>
            <!-- v-on绑定事件,缩写 @-->
            <input type="button" v-on:click="hello" value="你好">
            <input type="button" @click="hello" value="你好">
        </div>
        <div>
            <!-- v-model实现数据的双向绑定 -->
            <input type="text" v-model="title">
        </div>
        <div>
            <!-- v-for循环数组 -->
            <p v-for="(item, index) in list" :key="index">index:{{index}}--{{item}}</p>
        </div>
        <div>
            <!-- v-if,每次都会重新删除或创建DOM -->
            <p v-if="isShow">v-if指令</p>
        </div>
        <div>
            <!-- v-show,不会删除DOM -->
            <p v-show="isShow">v-show指令</p>
        </div>
    </div>
    <script>
        var app=new Vue({
            el:"#app",
            data:{
                title:"HELLO WORLD!",
                isShow:true,
                h2:'<h2>我是标题</h2>',
                list:[1,2,3,4]
            },
            methods: {
                hello:function(){
                    alert("hello!!");
                }
            },
        });
    </script>
</body>
</html>